# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files
*.so
*.dll
*.dylib

# Environment files
.env
*.env

# Output directories
extracted/